.btn-custom {
  background-color: var(--btn-primary);
  border-radius: 15px;
  padding: 11px;
  font-weight: 700;
  text-align: center;
  color: var(--font-btn);
  position: relative;

  &:hover {
    background-color: var(--btn-hover);
    color: var(--font-btn);
  }

  &.btn-mulai {
    justify-content: center;
    text-align: center;
    width: 80px;

    & i.mulai {
      font-size: 30px;
    }
  }

  &.btn-more {
    margin: 20px 0;
    width: 180px;
    justify-content: center;
    align-items: center;

    & i {
      font-size: 27px;
    }
  }
}